{% extends "base.html" %}
{% load static %}

{% block title %}Admin Productos{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.bootstrap5.min.css' %}">
{% endblock %}

{% block content %}

<!--Incluir modal-->
{% include 'productos/agregar_modal.html' %}
<!--fin del modal-->

<!--Mensaje guardado exitosamente-->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            <strong>{{message}}</strong>
        </div>
    {% endfor %}
{% endif %}
<!--Fin del mensaje-->

<div class="container py-4">
    <h2 class="mb-4">Listado de Productos</h2>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AgregarModal">
      Nuevo
  </button>

    <div class="card shadow">
        <div class="card-body">
            <table id="tabla-productos" class="table table-striped table-bordered" style="width:100%">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto.product_name }}</td>
                        <td>{{ producto.categoria }}</td>
                        <td>{{ producto.valor_unitario }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">No hay productos registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script src="{% static 'js/jquery-3.7.1.js' %}"></script>
<script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.bootstrap5.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#tabla-productos').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
            },
            pageLength: 15,
            lengthMenu: [15, 25, 50, 100],
            responsive: true
        });
    });
</script>

<!--Autoclose alert-->
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 2000);    
</script>
{% endblock %}
